<%- include('partials/header') %>

<div id="content"> 
<!-- LEFT COLUMN>> -->
<div class="left_blocks" style="width: 60%; float: left;">

<div class="block_item">
<div class="blackbox" style="width: auto;">
<div class="blackbox_tl"></div>
<div class="blackbox_tc"></div>
<div class="blackbox_tr"></div>
<div class="blackbox_cw">
<div class="blackbox_c" style="">
<div class="blackbox_ci"> 
<div class="block-head-bg"></div>
<div class="block-head">
<div class="block-head-right">
<div class="block-title">Друзья пользователя <%= profileUser.username %></div>
</div> 
</div>
<div class="block-content">

<% if (friends.length === 0) { %>
  <div style="color: #c0c0b2; padding: 15px;">Список друзей пуст.</div>
<% } else { %>
  <div id="users_list">
    <div class="users">
      <% friends.forEach(function(friendUser, index) { %>
        <div class="item <%= (index % 2 === 1 || index === friends.length - 1) ? 'item_end' : '' %>"> 
          <a class="logo" href="/ru/account,userinfo/?username=<%= encodeURIComponent(friendUser.username) %>" style="background: url('<%= CDN_BASE_URL %><%= friendUser.avatar || '/images/default_user_avatar.png' %>') no-repeat center center; background-size: cover;"><span class="border_logo"></span></a>
          <div class="info"> 
            <div class="username">
              <a href="/ru/account,userinfo/?username=<%= encodeURIComponent(friendUser.username) %>" class="<%= friendUser.is_online ? 'green' : '' %>">
                <%= friendUser.username %>
              </a>
            </div> 
            <div class="online">
              <% if (friendUser.is_online) { %>
                <span class="white">Сейчас на сайте</span>
              <% } else { %>
                Не в сети
              <% } %>
            </div>
            <div class="channel">
              <% if (friendUser.telegram || friendUser.discord) { %>
                <% if (friendUser.telegram) { %>TG: <%= friendUser.telegram %><br><% } %>
                <% if (friendUser.discord) { %>DC: <%= friendUser.discord %><% } %>
              <% } else { %>
                Зритель
              <% } %>
            </div>
          </div>
        </div>
        <% if (index % 2 === 1 || index === friends.length - 1) { %>
          <div class="clear_both" style="height:20px;"></div> 
        <% } %>
      <% }) %>
    </div>
  </div>
<% } %>

</div>
<div class="clear_both"></div>
</div>
<div class="clear_both"></div>
</div>
<div class="clear_both"></div>
</div>
</div>
<div class="blackbox_bl"></div>
<div class="blackbox_bc"></div>
<div class="blackbox_br"></div>
</div>

</div>
<!-- << LEFT COLUMN --> 

<!-- RIGHT COLUMN>> -->
<div class="right_blocks" style="width: 36%; float: right; padding: 0;"> 
<!-- USER INFO>> -->
<div class="blocks"> 
<div class="blackbox" style="width: auto;">
<div class="blackbox_tl"></div>
<div class="blackbox_tc"></div>
<div class="blackbox_tr"></div>
<div class="blackbox_cw">
<div class="blackbox_c" style="">
<div class="blackbox_ci"> 
<div class="block-head-bg"></div>
<div class="block-head">
<div class="block-head-right">
<div class="block-title">Пользователь → <span class="darkblue"><%= profileUser.username %></span></div>
</div> 
</div>
<div class="block-content">
<div class="channelinfoblock userinfoblock">
<div class="left">
<a class="logo" href="#"><span class="border_logo">
  <% if (profileUser.avatar && profileUser.avatar !== '/images/default_user_avatar.png') { %>
    <img src="<%= CDN_BASE_URL %><%= profileUser.avatar  %>" style="width: 100px; height: 100px; object-fit: cover; position: relative; top: -1px; left: -1px;">
  <% } else { %>
    <img src="<%= CDN_BASE_URL %>/images/default_user_avatar.png" style="width: 100px; height: 100px; object-fit: cover; position: relative; top: -1px; left: -1px;">
  <% } %>
</span></a> 
</div> 
<div class="right"> 
<div class="info">
<div class="params">
<div class="label" style="width: auto; margin-right: 10px;">Telegram:</div>
<div class="value white" style="width: auto; margin-left: 0;"><%= profileUser.telegram || 'не указано' %></div>
<div class="clear_both"></div>
<div class="label" style="width: auto; margin-right: 10px;">Discord:</div>
<div class="value white" style="width: auto; margin-left: 0;"><%= profileUser.discord || 'не указано' %></div>
<div class="clear_both"></div>
</div>
</div> 
</div>
<div class="clear_both"></div> 
<div style="margin: 15px 0; color: #c0c0b2; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; white-space: pre-wrap;"><%= profileUser.about || 'Нет информации о пользователе' %></div>
<ul class="usermenu" style="margin-top: 15px;">
  <li><div class="icon s_icon_profile"></div><a href="/ru/account,userinfo/?username=<%= encodeURIComponent(profileUser.username) %>">Профиль пользователя</a></li>
  <% if (user && user.username === profileUser.username) { %>
    <li><div class="icon s_icon_profile"></div><a href="/ru/account,profile/">Настройки профиля</a></li>
  <% } %>
  <li><div class="icon s_icon_programs"></div><a href="/ru/account,programs?username=<%= encodeURIComponent(profileUser.username) %>">Личное расписание пользователя</a></li>
  <li><div class="icon s_icon_favrecords"></div><a href="/ru/account,favrecords?username=<%= encodeURIComponent(profileUser.username) %>">Избранные записи пользователя</a></li>
  <li><div class="icon s_icon_favchannels"></div><a href="/ru/account,favchannels?username=<%= encodeURIComponent(profileUser.username) %>">Избранные телеканалы пользователя</a></li>
  <li><div class="icon s_icon_friends"></div><a href="/ru/account,friends?username=<%= encodeURIComponent(profileUser.username) %>" class="grey">Друзья пользователя</a></li>
  <li class="last"><div class="icon s_icon_friends"></div><a href="/ru/account,friendof?username=<%= encodeURIComponent(profileUser.username) %>">В друзьях у пользователей</a></li>
</ul>
<div class="clear_both"></div>
</div>
</div>
<div class="clear_both"></div>
</div></div>
<div class="blackbox_bl"></div>
<div class="blackbox_bc"></div>
<div class="blackbox_br"></div>
</div>
</div>
<!-- << USER INFO -->
<%- include('partials/sidebar_ad_320x240') %>
</div>
<!-- << RIGHT COLUMN -->
<div class="clear_both"></div>
</div>

</div>
<%- include('partials/footer') %>
