<%- include('partials/header') %>

<div id="content"> 
<!-- LEFT COLUMN>> -->
<div class="left_blocks "> 
  <div class="blackbox" style="  width: auto;">
    <div class="blackbox_tl"></div>
    <div class="blackbox_tc"></div>
    <div class="blackbox_tr"></div>
    <div class="blackbox_cw">
      <div class="blackbox_c" style="">
        <div class="blackbox_ci"> 
          <div style="height:400px; width:1px; margin-left:-1px; float:left;"></div>
          <div style="width:100%; float:left;">
            <div class="block-head-bg"></div>
            <div class="block-head">
              <div class="block-head-right">
                <div class="block-titles">
                  <a href="/ru/news" class="block-title-first ">Новости телеканала <%= typeof channelName !== 'undefined' ? channelName : 'ЭтоЯTV' %></a>
                </div>
              </div> 
            </div>
            <div class="block-content">
              <div class="news">
                <div class="item last item-<%= newsItem.id %>">
                  <div class="date">
                    <% var months = ['Января', 'Февраля', 'Марта', 'Апреля', 'Мая', 'Июня', 'Июля', 'Августа', 'Сентября', 'Октября', 'Ноября', 'Декабря']; %>
                    <div class="day"><%= ('0' + new Date(newsItem.created_at).getDate()).slice(-2) %></div>
                    <%= months[new Date(newsItem.created_at).getMonth()] %>
                  </div>
                  <div class="body">
                    <div class="title white"><%= newsItem.title %></div>
                    <div class="announce" style="white-space: pre-line; overflow-wrap: break-word; word-break: break-word;"><%= newsItem.content %></div> 
                  </div>
                  <div class="clear_both"></div>
                </div>
              </div> 
            </div>
            <div class="clear_both"></div>
          </div>
          <div class="clear_both"></div>
        </div>
        <div class="clear_both"></div>
      </div>
    </div>
    <div class="blackbox_bl"></div>
    <div class="blackbox_bc"></div>
    <div class="blackbox_br"></div>
  </div>
</div>
<!-- << LEFT COLUMN -->

<!-- RIGHT COLUMN>> -->
<div class="right_blocks">
  <div class="blocks"> 
    <div class="blackbox" style="  width: auto;">
      <div class="blackbox_tl"></div>
      <div class="blackbox_tc"></div>
      <div class="blackbox_tr"></div>
      <div class="blackbox_cw">
        <div class="blackbox_c" style="">
          <div class="blackbox_ci"> 
            <div class="block-head-bg"></div>
            <div class="block-head">
              <div class="block-head-right">
                <div class="block-title">Реклама</div>
              </div> 
            </div>
            <div class="block-content">
              <% if (adsEnabled && adsConfig['sidebar_320x240'] && adsConfig['sidebar_320x240'].image) { %>
                <div style="width: 320px; display: flex; align-items: center; justify-content: center; margin: 0 auto;">
                  <% if (adsConfig['sidebar_320x240'].url) { %>
                    <a href="<%= adsConfig['sidebar_320x240'].url %>" target="_blank" style="display: block;">
                      <img src="<%= adsConfig['sidebar_320x240'].image %>" style="max-width: 100%;">
                    </a>
                  <% } else { %>
                    <img src="<%= adsConfig['sidebar_320x240'].image %>" style="max-width: 100%;">
                  <% } %>
                </div>
              <% } else if (!adsEnabled) { %>
                <!-- Ad is disabled -->
              <% } else { %>
                <div style="width: 320px; height: 240px; background: #333; display: flex; align-items: center; justify-content: center; color: #777; margin: 0 auto;">Место для рекламы</div>
              <% } %>
            </div>
            <div class="clear_both"></div>
          </div>
          <div class="clear_both"></div>
        </div>
      </div>
      <div class="blackbox_bl"></div>
      <div class="blackbox_bc"></div>
      <div class="blackbox_br"></div>
    </div>
  </div> 
</div>
<!-- << RIGHT COLUMN -->

<div class="clear_both"></div>
</div>

<%- include('partials/footer') %>
